input[type="radio"] {
    margin-right: 2px;
  }

  h6{
      margin-right:5px
  }

label{
    margin-right:5px
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


button{
  margin-right: 10px;
  height:40px;
  width:100px;
}
form{
  background-color: rgb(29, 212, 203);
  /* margin:5px 5px ; */
  padding:20px;
}



/* .form-group{
  margin:2px 2px 2px 2px;
} */