input[type="radio"] {
    margin-right: 2px;
  }

  h6{
      margin-right:5px
  }

label{
    margin-right:5px
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button{
  margin-right: 10px;
}